h1 {
    font-style: italic;
  }

  #secciondatos {
    width: 50%;
    margin: 0 auto;
  }
h2 {
    font-family: "Open sans", sans-serif;
  }

p {
    text-align: center;
 }

span {
    text-align: center;
 }

 #seccionredes {
    width: 30%;
    margin: 0 auto;
    text-align: center;
 }
a {
    font-weight: 600;
    text-decoration: none;
 }

section h2 {
    color: #0BCC7B;
}

.seccion {
        width: 25%;
        margin: 0 auto; 
        background-color: white;
        padding: 2%;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
     
    }

#seccionhabilidades table td {
        text-align: center;
    }

#seccionhabilidades table {
        margin: 0 auto;
    }
nav ul {
    list-style-type: none;
}

#secciondatos p{
    font-size: 1.4rem;
    margin-top: 6%;
    color: #373B41;
}

#seccioncontactenos {
    display: grid;
    grid-template-areas: "area1 area1 area1 area1"
                         "area2 area2 area3 area3"
                         "area4 area4 area5 area5";
}
#seccioncontactenos h2 {
    grid-area: area1;
}
#seccioncontactenos h3#susdatosh3 {
    grid-area: area2;
}
#seccioncontactenos h3#ubicacion {
    grid-area: area3;
}
#seccioncontactenos #llenarform{
    grid-area: area4;
} 
#seccioncontactenos #mapa{
    grid-area: area5;
}
nav ul{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}
footer address{
    display: flex;
    flex-direction: column;
}

