/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

/* El elemento header tendrá una imagen de fondo */

header {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

header {
    display: grid;
    grid-template-areas: "area1 area2 area3 area4 area5 area6"
                         "area7 area7 area8 area9 area10 area11"
                         "area12 area12 area8 area9 area10 area11";
    align-items: baseline;
}

h1 {
    grid-area: area7;
    align-items: baseline;
}


p {
    grid-area: area12;
    align-items: baseline;
}

img#lib1{
    grid-area: area8;
    align-items: baseline;
}

img#lib2{
    grid-area: area9;
    align-items: baseline;
}

img#lib3{
    grid-area: area10;
    align-items: baseline;
}


img#lib4{
    grid-area: area11;
    align-items: baseline;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

#webdevelopment1 {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "area1 area1 area1 area1 area1"
                         "area2 area3 area4 area5 area6"
  }

#webdevelopment1 h2#title2 {
    grid-area: area1;
}
section img#lib5{
    grid-area: area2;
}

section img#lib6{
    grid-area: area3;
}

section img#lib7{
    grid-area: area4;
}

section img#lib8{
    grid-area: area5;
}

section img#lib9{
    grid-area: area6;
}
