/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

/* El elemento header tendrá una imagen de fondo */

header {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

header {
    display: grid;
    grid-template-areas: "area1 area1 area2 area3 area4 area5"
                         "area6 area6 area2 area3 area4 area5";
}

h1 {
    grid-area: area1;
}


p {
    grid-area: area6;
}

img#lib1{
    grid-area: area2;
}

img#lib2{
    grid-area: area3;
}

img#lib3{
    grid-area: area4;
}


img#lib4{
    grid-area: area5;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}
