/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0 5rem;
}

header a{
    font-weight: bold;
}

header{
    padding: 0 5rem;
}

main {
    padding: 0 5rem;
}


main p span{
    font-weight: bold;
}

main {
    display: grid;
    grid-template-areas: "area1 area1 area3"
                         "area4 area2 area3";
}

main h1{
    grid-area: area1;
}

div#data{
    grid-area: area2;
}

div#imglib{
    grid-area: area4;
}


main nav{
    grid-area: area3;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

main div img {
    width: 10rem;
    height: 15rem;
    border: white 1rem solid;
    box-shadow: 0 2px 9px rgb(0 0 0 / 25%), 0 2px 7px rgb(0 0 0 / 35%);
}

main #data{
    padding-right: 5rem;
    text-align: justify;
}

main #imglib{
    padding-right: 5rem;

}

main a{
    font-weight: bold;
}

p#cat{
    font-weight: bold;
}

